{% include "includes/head.twig" with {title: block('title')} %}
        <body>
  <div id="app">

      <div class="container-scroller">
          <div class="container-fluid page-body-wrapper full-page-wrapper">
              <div class="content-wrapper d-flex align-items-center auth px-0">
                  <div class="row w-100 mx-0">
                      <div class="col-lg-4 mx-auto">
                          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                              <div class="brand-logo">
                                  <h
            {% if config('app.logo') is not empty %}
              <img src="{{ config('app.logo')  }}" alt="logo">
            {% endif %}
            </div>
                              <h3>{{ block('title') }}</h3>
                {% block body %}{% endblock %}

                  </div>
              </div>
          </div>
      </div>
        {% include "includes/script.twig"  %}
        {% block scripts %}{% endblock %}
  </body>
</html>